.advantages__wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 255px;

  &--content {
    justify-content: space-around;
    background-color: @bg-color-map;
  }

  @media @tablet {
    display: flex;
    flex-direction: row;
    min-height: 256px;

    &--bridge {
      flex-direction: row-reverse;
    }
  }
}
