.city-list {
  margin: 0 auto;
  width: 280px;
  list-style: none;
  padding: 28px 30px 35px 21px;
}

.city-list__item {
  margin: 0 0 20px;
}

.city-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @font-color-heading;
  margin: 0;
}
