.interest {
  margin: 0 auto;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 49px;
  max-width: 284px;


  @media @tablet {
    padding-top: 61px;
    padding-bottom: 58px;
    max-width: 458px;
  }

  @media @desktop {
    padding-top: 61px;
    padding-bottom: 66px;
  }
}

.interest__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color-heading;
  margin: 0 0 21px;
}

.interest__text {
  line-height: 24px;
  margin: 0;
}

.interest__link {
  padding: 16px;
  margin-top: 72px;
}
