.main-image__text {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding-top: 90px;
}

.main-image {
  max-width: 100%;
  min-height: 389px;
  background-color: @bg-color-back;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url("../img/back-mobile.jpg");

  @media @tablet {
    background-image: url("../img/back-tablet.jpg");
  }

  @media @tablet {
    background-image: url("../img/back-desktop.jpg");
  }
}
