.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;

  @media @tablet {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media @desktop {
    padding-top: 36px;
    padding-bottom: 35px;
  }
}

.page-footer__wrapper {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 86%;
    max-width: 976px;
  }
}

.page-footer__visit {
  font-weight: 700;
  font-size: 21px;
  text-decoration: none;
  color: @black;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 48px;
  background-color: @bg-color-button;
  margin-left: 6px;
  fill: @white;

  &:hover {
    background-color: @bg-color-button-hover;
  }

  &:active {
    background-color: @bg-color-button-active;
    fill: rgba(@white, 0.3);
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  color: @black;
  text-decoration: none;

  &:hover {
    color: @bg-color-button;
  }

  &:active {
    color: @bg-color-copyright-active;
  }
}

.copyright__text {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-right: 11px;
}
