.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;

  @media @tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media @desktop {
    padding-top: 33px;
    padding-bottom: 35px;
  }
}

.page-footer__wrapper {
  @media @tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }

  @media @desktop {
    margin: 0 40px;
    justify-content: space-between;
  }
}

.page__footer__visit {
  width: 138px;
  font-size: 21px;
  font-weight: 700;
  color: @font-color-heading;

  @media @desktop {
    text-align: center;
    padding-left: 46px;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
}

.social__link {
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 44px;
  border: 2px solid @bg-color-button;
  background-color: @bg-color-button;
}
