.video {
  width: 266px;
  margin: 0 auto;

  @media @tablet {
    width: 648px;
  }

  @media @desktop {
    width: 800px;
  }
}

.video__header {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 36px;

  @media @tablet {
    width: 445px;
    padding-top: 50px;
    padding-bottom: 85px;
  }

  @media @desktop {
    padding-top: 62px;
    padding-bottom: 85px;
  }
}

.video__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color-heading;
  padding-bottom: 24px;

  @media @tablet {
    font-size: 30px;
    padding-bottom: 30px;
  }

  @media @desktop {
    padding-bottom: 28px;
  }
}

.video__text {
  line-height: 24px;
  margin: 0;
}

.video__video-pleer {
  @media @tablet {
    margin-bottom: 35px;
  }

  @media @desktop {
    margin-bottom: 75px;
  }
}
